body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 1000px;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

td,
th {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

thead {
    background-color: #0a6fb8;
    color: white;
}

#filtrosContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#containerSelectCategorias {
    margin: 5% 0 5% 0;
}

#containerSelectConcluida {
    margin: 5% 0 5% 0;
}

#btnFiltro {
    border: none;
    outline: none;
    background: #d0d3d3;
    padding: 10px 10px;
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
    color: #0a6fb8;
    justify-content: center
}

#botaoFiltroContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 20% 0;
}

#btnAtualizar {
    border: none;
    outline: none;
    background: #d0d3d3;
    padding: 10px 10px;
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
    color: #0a6fb8;
    justify-content: center
}

.btnHome {
    background-color: #0a6fb8;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.btnHome:hover {
    background-color: RoyalBlue;
}

.containerBtnHome {
    position: absolute;
    left: 30px;
    top: 30px;
}


button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    color: white;
}